body{
    background-color:hsla(36, 31%, 90%, 1);
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(179, 177, 177);
    border-width: 6px;
    width: 6%;
}
h1,h2,h3{
    color: rgb(2, 66, 57);
}

p,ul,ol,table,form{
    color: hsla(171, 15%, 35%, 1);
}
a{
    color: #202228f3;
}